@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h4 class="card-header">LAPIS BRINDE MKT</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>1000</strong> unidades para <strong>17/08/2017</strong></li>
                <li class="list-group-item">
                    <form>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Example label</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput2">Another label</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>